<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Certificate of Conformance</title>
    {{!-- <link rel="stylesheet" href="../CSS/certificateStyle.css"> --}}
</head>
<body>
    <div id="main">
    <h1>AMPA ORTHODONTICS PRIVATE LIMITED</h1>
    <h5>Address: Mehta industrial estate, 1<sup>st</sup> Floor, Besides Western Express Highway Metro station, Andheri Kurla Road, Andheri East, Mumbai 400069<br>
    CIN: U85310MH2017PTC294169
    </h5>
    <h3>Certificate of Conformance</h3>
    <br>
<table id="tab1">
    <tr>
    <td><strong>Patient Name: </strong><br>
        XX
    </td>
    <td rowspan="2"><strong>Aligner Qty: </strong><br>
        Upper: XX<br>
        Lower: YY<br>
        Retainer: X and Y<br>
        Template: X and Y<br>
    </td>
    <td rowspan="2"><strong>Date of Manufacturing: </strong><br>
        DD.MM.YYYY<br>
    </td>
  </tr>
  <tr>
    <td><strong>Patient UID: </strong><br>
        YY<br>
    </td>
  </tr>
</table>
<br>
<br>
<table class="leftAlgn">
    <tr>
      <th>Attribute</th>
      <th>Acceptance Criteria</th>
      <th>Observation</th>
    </tr>
    <tr>
      <td>Appearance</td>
      <td class="tdpad">Aligner should be clear, no breakage/cracks with smooth edges</td>
      <td class="tdpad"></td>
    </tr>
    <tr>
      <td>Count</td>
      <td class="tdpad">It should match exact count of aligners as per the treatment plan approved by patient.</td>
      <td class="tdpad"></td>
    </tr>
    <tr>
        <td>Cleanliness</td>
        <td class="tdpad">Aligner should be clean with no visible white powder in it</td>
        <td class="tdpad"></td>
    </tr>
    <tr>
        <td>Fitness</td>
        <td class="tdpad">It should perfectly fit on respective patient Models.</td>
        <td class="tdpad"></td>
    </tr>
  </table>
  <div class="leftAlgn">
      <br>
      <br>
  I certify that aligners manufactured for Patient UID mentioned above, meets the acceptance criteria and is released for distribution.
  <br>
  <br>
  <br>
  <br>
  Quality Manager
  </div>
  </div>
</body>
</html>